@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    
    



}

.container{
    background-color: lightskyblue;
    

}

h1{
    color: lightyellow;
    text-align: center;
}

a,li{
    
    color: royalblue;
    text-decoration: none;
    font-weight: bold;

}